@import "./../../utils/constants/colors";

.input-field {
  width: 15rem;
  height: 2rem;
  border-radius: 16px;
  border: 1px solid $white;
  box-shadow: 0px 0px 6px $grey;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 6px inset $grey;
  }
}
.d-grid-left {
  display: grid;
  justify-items: center;
  margin-bottom: 1rem;
}

.label {
  justify-self: left;
  padding-left: 1rem;
  font-weight: bold;
}
