@import "../../utils/constants/colors";

.left-menu {
  height: 100%;
  background-color: $jet;
  width: 72px;
  position: fixed;
  transition: width 0.5s;

  .btn-left-menu {
    // padding: 1rem;
    display: flex;
    align-items: center;
    img {
      margin: 1rem;
    }
    .add-text {
      display: none;
      color: $platinum;
      margin: 1rem;
      white-space: nowrap;
    }
  }
  .link-main {
    overflow-y: auto;
    .link-prop {
      text-decoration: none;

      .label-group {
        display: flex;
        align-items: center;

        img {
          background-color: $white;
          height: 30px;
          width: 30px;
          margin: 1rem;
        }

        .label-text {
          display: none;
          color: $platinum;
          margin: 1rem;
          // white-space: nowrap;
        }

        &:hover {
          background-color: $grey;
        }
      }
    }
  }
  &:hover {
    width: 250px;

    .link-main .link-prop .label-group .label-text {
      display: block;
    }
    .btn-left-menu .add-text {
      display: block;
    }
  }
}

.m-left-menu {
  .m-link-prop {
    .m-label-group {
    }
  }
}

@media screen and (max-width: 576px) {
  .left-menu {
    display: none;
  }
}
