@import "../../utils/constants/colors";

.header {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
  height: 52px;

  @media screen and (max-width: 576px) {
    justify-content: space-around;
  }

  .heading {
    text-align: center;
  }

  .logo {
    display: flex;
    align-items: center;

    .image-menu {
      padding-right: 10%;
    }
  }
}

.spacer {
  height: 52px;
}
