@import "../../utils/constants/colors";
.header {
  padding: 0 2rem;
  justify-content: space-between;
  .heading {
    text-align: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  .image-menu {
    padding-right: 10%;
  }
}
@media screen and (max-width: 576px) {
  .header {
    justify-content: space-around;
  }
}
